@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* FONTLARI DUZELT */

* {
    overflow-x: hidden;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 9999;
}

/* li {
    color: #36536B;
    font-family:'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.7;
} */

/* li:hover {
    opacity: 1;
    cursor: pointer;
}

#navbar {
    padding-top: 45px;
    padding-bottom: 45px;
    background: transparent;
    z-index: 999;
    position: relative;
} */

/* .nav-list {
    margin-left: 64px;
}

.nav-btn {
    width: 173px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #BA4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    color: #FBFCFE;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
} */

/* .nav-btn:hover {
    background: #DA6D97;
} */


/* #home {
    background: #EDF3F8;
    width: 100%;
    padding-left: 156px;
    padding-right: 156px;
    padding-bottom: 75.57px;
} */

/* .circle {
    position: absolute;
    width: 780px;
    height: 780px;
    flex-shrink: 0;
    border-radius: 780px;
    background: #36536B;
    opacity: 0.25;
    top: -200px;
    right: -150px;
} */

/* .circle-2 {
    position: absolute;
    width: 780px;
    height: 780px;
    flex-shrink: 0;
    border-radius: 780px;
    background: #36536B;
    opacity: 0.25;
    top: 1665px;
    right: -385px;
} */

/* .phone-30 {
    width: 257.649px;
    height: 498.861px;
    flex-shrink: 0;
    z-index: 9999;
} */

/* .home-h1 {
    width: 546px;
    height: 243px;
    flex-shrink: 0;
    color: #36536B;
    font-family: 'DM Serif Display', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.554px;
} */
/* 
#email {
    border-radius: 24px;
    background: #FBFCFE;
    width: 445px;
    height: 48px;
    flex-shrink: 0;
    outline: none; 
    color: #36536B;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

/* 
.home-btn {
    position: absolute;
    top: 468px;
    left: 428px;
} */


/* .btn-text {
    color: #6C8294;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */
/* 
#home-middle {
    background: #1B262F;
    width: 100%;
    flex-shrink: 0;
    padding: 100px 165px;
} */

/* .ha-col-1 h1 {
    color: #FBFCFE;
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    line-height: 56px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.369px;
} */

/* .ha-col-1 p {
    color: #FBFCFE;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    width: 445px;
} */

/* .ha-btn {
    color: #FBFCFE;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #FBFCFE;
} */
/* 
.ha-btn:hover {
    color: #1B262F;
    background-color: #fff;
} */

/* #home-body {
    background-color: #EDF3F8;
    padding: 150px 260px 0 156px;
} */

/* .box-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: #1B262F;
    box-shadow: 25px 25px 80px 0px rgba(54, 83, 107, 0.30);
    width: 445px;
    height: 284px;
    flex-shrink: 0;
} */
/* 
.box-table code {
    width: 381px;
    height: 180px;
    color: #FBFCFE;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
} */
/* 
.part-2 h1,
.part-3 h1,
#footer h1 {
    color: #36536B;
    font-family:'DM Serif Display', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.369px;
    overflow-y: hidden;
} */

/* .part-2 p,
.part-3 p {
    color: #6C8294;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    width: 445px;
    padding-top: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
} */

/* 
.group-by {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
/* 
#home-bottom {
    padding: 0 165px 0 165px;
    background-color: #EDF3F8;

} */
/* 
#foot-top {
    padding: 96px 165px;
    background-color: #EDF3F8;

} */

/* 
#foot-nav {
    padding: 31px 165px;
    background: #1B262F;

} */

/* .part-4 {
    flex-direction: row;
    display: flex;
    gap: 45px;
    justify-content: center;
} */

/* #home-bottom-2 h5 {
    color: #36536B;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.138px;
} */

/* #home-bottom-2 p {
    color: #6C8294;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.115px;
} */

/* .div-container {
    position: relative;
    height: 100%;
} */
/* 
.footer-btn {
    position: absolute;
    top: 0;
    right: 0;
} */

/* #facebook:hover,
#twitter:hover,
#linkedin:hover {
    color: #DA6D97 !important;
    cursor: pointer;
} */